body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;

}

.navbar{
    background-color: goldenrod;
}

#nav-list{
    margin-top: 10px;
}

#nav-list a{
    color: #951c49;
   
}

#nav-list a:hover {
    background-color: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #61122f
}

.content{
    background-color: grey;
    height: 1500px;
    margin-bottom: 20px;
}



@media (max-width: 767px){
    .content{
        margin: 0 15px 20px 15px;
    }
}